{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="row d-flex justify-content-center align-items-center">
    <h1 class="text-center my-4">Customers</h1>
    {% load widget_tweaks %}
    <div class="col-lg-4 p-0 me-2">
      <div class="card rounded-0 p-2 mb-3">
        <h3>Add Customer</h3>
        <form action="{% url 'customer' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="name" class="form-label">Name</label>
            {% render_field form.name class+="form-control" %}
          </div>
          <div class="form-group">
            <label for="phone" class="form-label">Phone</label>
            {% render_field form.phone class+="form-control" %}
          </div>
          <div class="form-group">
            <label for="address" class="form-label">Address</label>
            {% render_field form.address class+="form-control" %}
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Email</label>
            {% render_field form.email class+="form-control" %}
          </div>
          <div class="form-check my-3">
            {% render_field form.isCustomer class+="form-check-input" %}
            <label class="form-check-label" for="flexCheckDefault"
              >isCustomer</label
            >
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>

    <div class="col-lg-7 p-0">
      <table class="table table-striped table-bordered table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">address</th>
            <th scope="col">Customer</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customers %}
          <tr id="item-{{ customer.id }}">
            <th scope="row"></th>
            <td>{{ customer.name }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.address }}</td>
            <td>
              {% if customer.isCustomer %}
              <h6>
                <span class="badge text-bg-primary">customer</span>
              </h6>
              {% else %}
              <h6><span class="badge text-bg-secondary">other</span></h6>
              {% endif %}
            </td>
            <td class="d-flex">
              <button
                class="btn btn-sm me-2 btn-danger rounded-0 item_delete_action_button"
                type="button"
                id="{{  customer.id }}"
              >
                DELETE
              </button>
              <button
                class="btn btn-sm btn-outline-primary rounded-0 item_update_action_button"
                type="button"
              >
                EDIT
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
